---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Supported types

Codefresh supports multiple types of Contexts, all of which share the following components:

* `Name`: A unique identifier for the context
* `Type`: A string representing the type of context
* `Data`: A data structure that provides the information related to the Context. This differs based on the type of Context selected.

For more details of the Context spec, please refer to the [official Codefresh CLI documentation](https://codefresh-io.github.io/cli/contexts/spec/)

Currently the provider supports the following types of Context:

* `config` (Shared Config)
* `secret` (Shared Secret)
* `yaml` (YAML Configuration Context)
* `secret-yaml` (Secret YAML Configuration Context)

### Shared Configuration
A Shared Configuration is the entity in Codefresh where you can create values in a centralized location, and then consume in pipelines to keep them [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself).
More details in the official [Shared Configuration documentation](https://codefresh.io/docs/docs/configure-ci-cd-pipeline/shared-configuration/)

### Example Usage

#### Shared Config

```hcl
resource "codefresh_context" "test-config" {
    name = "my-shared-config"
    spec {
        config {
            data = {
                var1 = "value1"
                var2 = "value2"
            }
        }
    }
}
```

#### Shared Secret

```hcl
resource "codefresh_context" "test-secret" {
    name = "my-shared-secret"
    spec {
        secret {
            data = {
                var1 = "value1"
                var2 = "value2"
            }
        }
    }
}
```

#### YAML Configuration Context

```hcl
resource "codefresh_context" "test-yaml" {
    name = "my-shared-yaml"
    spec {
        # NOTE: you can also load the yaml from a file with `yaml = file("PATH-TO-FILE.yaml")`
        yaml = <<YAML
test:
  nested_value: value1
  list:
    - test2
    - test3
another_element: value
YAML
    }
}
```

#### Secret YAML Configuration Context

```hcl
resource "codefresh_context" "test-secret-yaml" {
    name = "my-shared-secret-yaml"
    decrypt_spec = false
    spec {
        # NOTE: The `-` from secret-yaml is stripped because the character is not allowed in Field name
        # File passed MUST be a valid YAML
        secretyaml = file("test.yaml")
    }
}
```

#### AWS S3 storage context

```hcl
resource "codefresh_context" "test-s3" {
    name = "my-s3-context"

    decrypt_spec = false

    spec {
        storages3 {
            data {
                auth {
                    type = "basic"
                    json_config = {accessKeyId = "key", secretAccessKey = "secret"}
                }
            }
        }
    }
}
```

#### Azure file storage context

```hcl
resource "codefresh_context" "test-azure" {
    name = "my-azure-file-context"

    decrypt_spec = false

    spec {
        storageazuref {
            data {
                auth {
                    type = "basic"
                    account_name = "account"
                    account_key = "key"
                }
            }
        }
    }
}
```

#### Google cloud storage context

```hcl
resource "codefresh_context" "test-google-cloud-storage" {
    name = "my-gcs-context"

    spec {
        storagegc {
            data {
                auth {
                    type = "basic"
                    json_config  = jsondecode(<<EOF
                    {
                    "type": "service_account",
                    "project_id": "PROJECT_ID",
                    "private_key_id": "KEY_ID",
                    "private_key": "-----BEGIN PRIVATE KEY-----\nPRIVATE_KEY\n-----END PRIVATE KEY-----\n",
                    "client_email": "SERVICE_ACCOUNT_EMAIL",
                    "client_id": "CLIENT_ID",
                    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
                    "token_uri": "https://accounts.google.com/o/oauth2/token",
                    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
                    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/SERVICE_ACCOUNT_EMAIL"
                    }
                    EOF
                    )
                }
            }
        }
    }
}
```

{{ .SchemaMarkdown | trimspace }}
