---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Supported types

Codefresh supports multiple types of Contexts, all of which share the following components:

* `Name`: A unique identifier for the context
* `Type`: A string representing the type of context
* `Data`: A data structure that provides the information related to the Context. This differs based on the type of Context selected.

For more details of the Context spec, please refer to the [official Codefresh CLI documentation](https://codefresh-io.github.io/cli/contexts/spec/)

Currently the provider supports the following types of Context:

* `config` (Shared Config)
* `secret` (Shared Secret)
* `yaml` (YAML Configuration Context)
* `secret-yaml` (Secret YAML Configuration Context)

### Shared Configuration
A Shared Configuration is the entity in Codefresh where you can create values in a centralized location, and then consume in pipelines to keep them [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself).
More details in the official [Shared Configuration documentation](https://codefresh.io/docs/docs/configure-ci-cd-pipeline/shared-configuration/)

### Example Usage

#### Shared Config

```hcl
resource "codefresh_context" "test-config" {
    name = "my-shared-config"
    spec {
        config {
            data = {
                var1 = "value1"
                var2 = "value2"
            }
        }
    }
}
```

#### Shared Secret

```hcl
resource "codefresh_context" "test-secret" {
    name = "my-shared-secret"
    spec {
        secret {
            data = {
                var1 = "value1"
                var2 = "value2"
            }
        }
    }
}
```

#### YAML Configuration Context

```hcl
resource "codefresh_context" "test-yaml" {
    name = "my-shared-yaml"
    spec {
        # NOTE: you can also load the yaml from a file with `yaml = file("PATH-TO-FILE.yaml")`
        yaml = <<YAML
test:
  nested_value: value1
  list:
    - test2
    - test3
another_element: value
YAML
    }
}
```

#### Secret YAML Configuration Context

```hcl
resource "codefresh_context" "test-secret-yaml" {
    name = "my-shared-secret-yaml"
    spec {
        # NOTE: The `-` from secret-yaml is stripped because the character is not allowed in Field name
        # File passed MUST be a valid YAML
        secretyaml = file("test.yaml")
    }
}
```

{{ .SchemaMarkdown | trimspace }}
