---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

See the [Access Control documentation](https://codefresh.io/docs/docs/administration/account-user-management/access-control/).

## Example usage

```hcl
resource "codefresh_team" "developers" {
  name = "developers"

  users = [
      "5efc3cb6355c6647041b6e49",
      "59009221c102763beda7cf04"
    ]
}

resource "codefresh_permission" "developers" {

  team = codefresh_team.developers.id
  resource = "pipeline"
  action = "run"
  tags = [
      "demo",
      "test"
    ]
}
```

{{ .SchemaMarkdown | trimspace }}