---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

More about pipeline concepts see in the [official documentation](https://codefresh.io/docs/docs/configure-ci-cd-pipeline/pipelines/#pipeline-concepts).

## Example Usage

```hcl
resource "codefresh_project" "test" {
    name = "myproject"

    tags = [
      "production",
      "docker",
    ]

    variables = {
      go_version = "1.13"
   }
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

```sh
terraform import codefresh_project.test xxxxxxxxxxxxxxxxxxx
```
