---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

For more information about service accounts in Codefresh see [official documentation](https://codefresh.io/docs/docs/administration/account-user-management/service-accounts).

It is also possible to generate API tokens for service accounts, see the documentation for `codefresh_api_key` resource for usage example.

## Example Usage

```hcl
data "codefresh_team" "serviceaccounts" {
  name = "service-accounts"
}

resource "codefresh_service_account" "example" {
    name = "tf-test1"
    assign_admin_role = true
    assigned_teams = [data.codefresh_team.serviceaccounts.id]
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

```sh
terraform import codefresh_service_account.test xxxxxxxxxxxxxxxxxxx
```
