name: "Pull Request"
on: pull_request

jobs:
  docs:
    name: "Ensure 'make docs' has been run"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate Docs
        run: |
          export PATH=$PATH:/home/runner/go/bin
          make docs-prepare
          tfplugindocs generate
      - name: Validate No Changes
        run: |
          git diff --exit-code
  gofmt:
    name: "Ensure 'go fmt' has been run"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run gofmt
        run: |
          go fmt
      - name: Validate No Changes
        run: |
          git diff --exit-code